version: '3.8'

services:
  backend:
    build: .
    container_name: richalgo-backend
    command: uvicorn main:app --host 0.0.0.0 --port 8000
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
      - "8000:8000"
    restart: always
    environment:
      - LOG_LEVEL=debug
      - PYTHONUNBUFFERED=1