version: '3.8'

services:
  backend:
    build: .
    container_name: richalgo-backend
    command: uvicorn main:app --host 0.0.0.0 --port 8000
    ports:
      - "8000:8000"
    restart: always
    environment:
      - PYTHONUNBUFFERED=1